name: Build Ontology Service & Deploy Cloud Run
on:
  workflow_dispatch:
    inputs:
        ontology:
          description: 'The ontology to use.'
          required: true
          type: string
        international:
          description: 'Is the ontology babelon international?'
          default: false
          type: boolean
        load:
          description: 'Should load the data?'
          default: true
          type: boolean
        tag:
          description: 'The data tag'
          type: string
  workflow_call:
    inputs:
      ontology:
        description: 'The ontology to use.'
        required: true
        type: string
      international:
        description: 'Is the ontology babelon international?'
        default: false
        type: boolean
      load:
        description: 'Should load the data?'
        default: true
        type: boolean
      tag:
        description: 'The data tag'
        type: string
env:
    GCLOUD_PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}
    GCLOUD_REGION: us-east1
    GCLOUD_GCR: us-docker.pkg.dev
    GCLOUD_REGISTRY_PROJECT_ID: ${{ secrets.GCLOUD_REGISTRY_PROJECT_ID }}
    GCLOUD_REGISTRY_IMAGE_ENV: docker
    GCLOUD_REGISTRY_IMAGE_PROJECT: ontology
    ONTOLOGY_SERVICE_ONTOLOGY: ${{ inputs.ontology }}
    ONTOLOGY_SERVICE_LOAD: ${{ inputs.load }}
    ONTOLOGY_SERVICE_INTERNATIONAL: ${{ inputs.international }}
    SERVICE_NAME: ontology-service-${{ inputs.ontology }}
    SERVICE_TAG: ${{ inputs.tag }}


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: ${{ runner.os }}-gradle-test-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-test-
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCLOUD_SA_KEY }}'

      - name: Setup Google Cloud CLI
        uses: 'google-github-actions/setup-gcloud@v2'
      - name: Get project version
        run: |
          echo "PROJECT_VERSION=$(./gradlew properties -q | awk '/^version:/ {print $2}')" >> $GITHUB_ENV
      - name: Get ontology data
        run: |
          bash ontology.sh ${ONTOLOGY_SERVICE_ONTOLOGY}
      - name: Docker Login
        run: |
          gcloud auth configure-docker "${GCLOUD_GCR}"
      - name: Build And Push Docker Image
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
        run: |
          export DOCKER_IMAGE=`echo "${GCLOUD_GCR}/${GCLOUD_REGISTRY_PROJECT_ID}/${GCLOUD_REGISTRY_IMAGE_ENV}/${GCLOUD_REGISTRY_IMAGE_PROJECT}/$SERVICE_NAME:$SERVICE_TAG" | sed -e 's#//#/#' -e 's#^/##'`
          ./gradlew check dockerPush --no-daemon

      - name: Tag Artifact Registry
        run: |
          gcloud artifacts docker tags add "${GCLOUD_GCR}/${GCLOUD_REGISTRY_PROJECT_ID}/${GCLOUD_REGISTRY_IMAGE_ENV}/${GCLOUD_REGISTRY_IMAGE_PROJECT}/$SERVICE_NAME:$SERVICE_TAG" "${GCLOUD_GCR}/${GCLOUD_REGISTRY_PROJECT_ID}/${GCLOUD_REGISTRY_IMAGE_ENV}/${GCLOUD_REGISTRY_IMAGE_PROJECT}/$SERVICE_NAME:latest"
          gcloud artifacts docker tags add "${GCLOUD_GCR}/${GCLOUD_REGISTRY_PROJECT_ID}/${GCLOUD_REGISTRY_IMAGE_ENV}/${GCLOUD_REGISTRY_IMAGE_PROJECT}/$SERVICE_NAME:$SERVICE_TAG" "${GCLOUD_GCR}/${GCLOUD_REGISTRY_PROJECT_ID}/${GCLOUD_REGISTRY_IMAGE_ENV}/${GCLOUD_REGISTRY_IMAGE_PROJECT}/$SERVICE_NAME:$PROJECT_VERSION"
      
      - name: Get ontology deployment config
        run: |
          wget https://raw.githubusercontent.com/TheJacksonLaboratory/ontology-service/main/config/ontologies.json
          jq -r '.[] | select(.prefix=="${{ inputs.ontology }}")' ontologies.json > deployment-config.json
          
      - name: Set deployment variables
        run: |
          echo "DEPLOY_MEMORY=$(jq -r '.deployment.memory' deployment-config.json)" >> $GITHUB_ENV
          echo "DEPLOY_CPU=$(jq -r '.deployment.cpu' deployment-config.json)" >> $GITHUB_ENV
          echo "DEPLOY_MIN_INSTANCES=$(jq -r '.deployment.min_instances' deployment-config.json)" >> $GITHUB_ENV
          echo "DEPLOY_MAX_INSTANCES=$(jq -r '.deployment.max_instances' deployment-config.json)" >> $GITHUB_ENV

      - name: Deploy Cloud Run
        run: |
          DOCKER_IMAGE_REPOSITORY=$(docker images --format "{{.Repository}}" | grep ontology-service)
          DOCKER_IMAGE=$(docker images --format "{{.Repository}}:{{.Tag}}" "${DOCKER_IMAGE_REPOSITORY}" )

          gcloud run deploy $SERVICE_NAME --quiet \
            --image "${DOCKER_IMAGE}" --project "${GCLOUD_PROJECT_ID}" \
            --region "${GCLOUD_REGION}" --platform managed --allow-unauthenticated --format json \
<<<<<<< HEAD
            --memory $DEPLOY_MEMORY --cpu $DEPLOY_CPU --min-instances $DEPLOY_MIN_INSTANCES --max-instances $DEPLOY_MAX_INSTANCES --no-cpu-throttling --ingress internal-and-cloud-load-balancing --service-account "${GCLOUD_SERVICE_ACCOUNT}"
=======
            --memory "$MEMORY" --cpu "$CPU" --min-instances "$MIN_INSTANCES" --max-instances "$MAX_INSTANCES" --no-cpu-throttling --ingress internal-and-cloud-load-balancing --service-account "${GCLOUD_SERVICE_ACCOUNT}"
>>>>>>> aca0c546ccb7aa2603040102aa27c4080c630c84
          echo "Migrating traffic:"
          gcloud run services update-traffic $SERVICE_NAME --to-revisions LATEST=100 --region "${GCLOUD_REGION}"
          echo "Invoke endpoint:"
          gcloud run services list --platform managed --format json | jq -r \
            '.[] | select(.metadata.name == "google-cloud-run-maven-test") | .status.address.url'
